.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.box_1 {
}
.image {
}
.placeholder {
}
.page_title {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.section_title {
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:30px;
  color:#404040;
  text-align:left;
  line-height:40px;
}
.small_title {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#000000;
  text-align:left;
  line-height:26px;
  text-transform:uppercase;
}
.body_large {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
.body {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:26px;
}
.annotation {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.line {
}
.arrow {
}
.icon {
}
textarea, select, input, button { outline: none; }
