body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* structure */
/*******************************************************************************/
/*******************************************************************************/
body{
  border-top: 30px solid rgb(229, 129, 45);
}
header{
  margin: 3% 0;
  clear: left;
  text-align: left;
	font-size: 24px;
  color: rgb(0, 0, 0);
}
footer{
  padding: 4% 0;
  clear: left;
  text-align: center;
	font-size: 18px;
  color: rgb(0, 0, 0);
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: 0 10%;
}
.content-container{
  /* border: 1px solid #F07230;
  background-color: #0096D6; */
  margin: 6% 0;
}

/* text */
/*******************************************************************************/
/*******************************************************************************/
.title-main{
  font-weight: bold;
  color: rgb(229, 129, 45);
}
.title-sub{
  font-weight: 100;
  font-size: 18px;
  color: #565656;
  padding: 0 1%;
}
b{
  font-weight: 700;
  color: #565656; 
}
.active{
  color: rgb(229, 129, 45) !important;
}
.footerText{
  text-align: center;
  font-size: 12px;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit; 
}
p{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #464646; 
}
h1{
  font-size: 26px;
  color: #565656;  
}

/* logo */
/*******************************************************************************/
/*******************************************************************************/

.logo-small{width: 5%;}

/* nav */
/*******************************************************************************/
/*******************************************************************************/
.nav{
  color: #a0a0a0;
}
.nav-item{
  color: inherit;
  text-decoration: none;
  padding: 0 4% 0 0;
  font-size: 16px;
  text-transform: uppercase;
}
.nav-item:hover{
  color: rgb(229, 129, 45);
}

/* responsive */
/*******************************************************************************/
/*******************************************************************************/
.col-2{
  width: 50%;
  float: left;
}
.col-80-percent{
  width: 70%;
  float: left;
}
.col-70-percent{
  width: 70%;
  float: left;
}
.col-30-percent{
  width: 30%;
  float: left;
}
.col-20-percent{
  width: 30%;
  float: left;
}

/* font awesome icons */
/*******************************************************************************/
/*******************************************************************************/
.fa{
  padding: 20px;
  width: 30px;
  /* margin: 4px; */
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.fa-facebook:hover{
	color: white;
    background-color: #4360B5;
}
.fa-instagram:hover{
    color: white;
    background-color: #e95950;
}
.fa-envelope:hover{
	color: white;
    background-color: #171515;
}
.fa-linkedin:hover{
    color: white;
    background-color: #0096D6;
}
.fa-medium:hover{
    color: white;
    background-color: #00ab6c;
}

/* image */
/*******************************************************************************/
/*******************************************************************************/
.img-wei{
  padding-left: 10%;
  width: 90%;
}

.project-block{
  width: 90%;
  margin: 2% 0;
  padding: 5%;
	/* cursor: pointer; */
	display: table;
	float: left;
	position: relative;
  transition: all .2s ease-in-out;
  text-align: center;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}
.project-title{
  font-size: 28px;
  padding: 1%;
}
.project-info{
  vertical-align: middle;
}
.project-thumbnail{
  vertical-align: middle;
}


/*mobile*/
@media screen and (max-width: 650px) {
  .col{
    width: 100%;
    float: left;
  }
  .img-wei{
    padding: 0%;
    width: 100%;
  }
  .wrapper{
    padding: 5% 6%;
  }
}
